.banner{
    &__info{
        @include flex(inline-flex, flex-end, flex-start, column, wrap);
        height: 100%;

        @media(max-width: $mq-5 ){ justify-content: center;}
    }
        &__title{
            font-size: .875rem; //14px
            letter-spacing: .09365rem; //1.5px
            line-height: 1.75;
            font-weight: 400;

            text-transform: uppercase;
            color: $gray;
        }
        &__subtitle{
            font-family: 'Cormorant Garamond', serif;
            font-size: 3.815rem; //61.94px
            letter-spacing: -.15625rem; //2.5px
            font-weight: 400;

            @media(max-width: $mq-3){ font-size: 3.053rem; } //48.83px
            @media(max-width: $mq-4){ font-size: 2.441rem; } //39.06px
        }
}
