.portfolio{
    &__list{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        width: 100%;
        @media(max-width: $mq-4){grid-template-columns: 1fr; }
    }
        //------------------
        &__item{
            @include flex(flex, flex-start, flex-start, row, nowrap);
            height: 500px;
            position: relative;
        }
            &__left{
                @include flex(flex, center, center, column, wrap);
                width: 100%;
                height: 100%;
                transition: 1000ms cubic-bezier(.36,.59,.66,.83) 100ms;

                .portfolio__right:hover{ opacity: 1; backdrop-filter: blur(8px); }
                &:hover .portfolio__main-title{ color: transparent; }
            }
                &__main-title{
                    position: absolute;
                    bottom: var(--gap);
                    left: var(--gap);
                    z-index: 1;

                    font-size: 20px;
                    font-weight: 100;
                    color: $white;
                }
                &__bg,
                &__img{
                    position: relative;
                    width: 100%;
                    height: 110%;
                    overflow: hidden;
                }
                &__img{ object-fit: cover; }
        //------------------
        &__right{
            @include flex(flex, center, center, row, nowrap);
            width: 100%;
            height: 100%;
            position: absolute;
            padding: var(--gap);
            z-index: 2;

            opacity: 0;
            transition: 1000ms cubic-bezier(.36,.59,.66,.83);
        }
            &__info{
                @include flex(flex, center, flex-end, column, wrap);
                width: 100%;
                max-width: 460px;
            }
                &__current{
                    width: 100%;
                    margin-bottom: 30px;
                    font-size: 15px;
                    font-weight: 400;
                    letter-spacing: 1.5px;
                    line-height: 1.25;

                    text-transform: uppercase;
                    text-align: left;
                    color: $white;
                }
                &__description{
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 1.7;
                    color: $white;
                }
                &__sources{
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    margin-top: 22px;
                    position: relative;
                }
                    &__source{
                        font-family: 'Lora', serif;
                        font-size: 15px;
                        font-weight: 400;
                        line-height: 2;
                        letter-spacing: .5px;
                        color: $white;
                    }
        //------------------
        &__art{
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-gap: 10px;
            margin-top: 10px;

            @media(max-width: $mq-3){ grid-template-columns: repeat(3, 1fr);}
            @media(max-width: $mq-5){ grid-template-columns: repeat(2, 1fr); grid-gap: 0; }

            &-item{
                width: 100%;
                height: 100%;
                position: relative;
            }
            &-source,
            &-img{
                width: 100%;
                height: 100%;
                aspect-ratio: 1/1;
            }
        }
}
