.portfolio{
    &__list{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        width: 100%;
        @media(max-width: $mq-4){grid-template-columns: 1fr; }
    }
        //------------------
        &__item{
            @include flex(flex, flex-start, flex-start, row, nowrap);
            min-height: 400px;
            position: relative;
        }
            &__left{
                @include flex(flex, center, center, column, wrap);
                width: 100%;
                height: 100%;
                transition: 1000ms cubic-bezier(.36,.59,.66,.83) 100ms;

                .portfolio__right:hover{ opacity: 1; backdrop-filter: blur(8px); }
                &:hover .portfolio__main-title{ color: transparent; }
            }
                &__main-title{
                    position: absolute;
                    bottom: var(--gap);
                    left: var(--gap);
                    z-index: 1;

                    font-size: 1.25rem; //20px
                    letter-spacing: .0625rem; //1px
                    font-weight: 100;
                    color: $white;
                }
                &__bg{
                    position: relative;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;

                    &::before {
                        content: '';
                        display: block;
                        padding-top: percentage(1/1);
                    }
                }
                &__img{ 
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 110%;
                    display: block;
                    object-fit: cover;  
                }
        //------------------
        &__right{
            @include flex(flex, center, center, row, nowrap);
            width: 100%;
            height: 100%;
            position: absolute;
            padding: var(--gap);
            z-index: 2;

            opacity: 0;
            transition: 1000ms cubic-bezier(.36,.59,.66,.83);
        }
            &__info{
                @include flex(flex, center, flex-end, column, wrap);
                width: 100%;
                max-width: 460px;
            }
                &__current{
                    width: 100%;
                    margin-bottom: 1.875rem; //30px
                    font-size: 1rem; //16px
                    font-weight: 400;
                    letter-spacing: .09375rem; //1.5px
                    line-height: 1.25;

                    text-transform: uppercase;
                    text-align: left;
                    color: $white;
                }
                &__description{
                    font-size: .923125rem; //14.76px
                    font-weight: 400;
                    line-height: 1.75;
                    color: $white;
                }
                &__sources{
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    margin-top: 1.375rem; //22px
                    position: relative;
                }
                    &__source{
                        font-family: 'Lora', serif;
                        font-size: .923125rem; //14.76px
                        font-weight: 400;
                        line-height: 2;
                        letter-spacing: .0625rem; //1px
                        color: $white;
                    }
        //------------------
        &__art{
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-gap: 10px;
            margin-top: 10px;

            @media(max-width: $mq-3){ grid-template-columns: repeat(3, 1fr);}
            @media(max-width: $mq-5){ grid-template-columns: repeat(2, 1fr); grid-gap: 0; }

            &-item{
                position: relative;
                width: 100%;
                height: 100%;
                overflow: hidden;

                &::before {
                    content: '';
                    display: block;
                    padding-top: percentage(1/1);
                }
            }
           
            &-img{
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                display: block;
                object-fit: cover; 
                
            }
        }
}
